@import "../../styles";

.container {
  @include fontStyle(1.6rem, $white);
  @include flexContainer(flex, false, center);
  background: $grey-shade;
  position: sticky;
  top: 11.8rem;
  z-index: 3;

  @include respond(phone) {
    top: 6.4rem;
    overflow-x: scroll;
  }

  .social-network {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    transition: all .2s;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .share-btn {
    cursor: pointer;
    margin-top: 1rem;

    &:hover:not(:active) {
      opacity: 0.9;
      transform: scale(1.5);
    }
  }

  &__custom-icon {
    width: 32px;
    height: 32px;
  }
}
