/**
 * Author : rajansingh
 * Created On : 25/07/20
 */
@import "../../styles";

.navigation {
  background: $black;

  @include respond(phone){
    display: none;
  }

  a {
    padding: 10px;
    display: inline-block;
    color: $grey-shade;
    background: transparent;

    &:hover {
      background: $secondary-color;
    }
  }
}

