/**
 * Author : rajansingh
 * Created On : 25/07/20
 */

$primary-color: #ffffff;
$secondary-color: #f23f2d;
$tertiary-color: #fff5f4;


$grey-shade: #f7f7f7;
$black: #000000;

//$font-primary: 'Nunito Sans', sans-serif;
$font-primary: "PT Sans", sans-serif;
