/**
 * Author : rajansingh
 * Created On : 25/07/20
 */
@import "../../../styles";

.header {
  @include position(fixed, 0, false, false, false, 2);
  @include dimensions(100vw);
  background: $white;


  .siteTitle {
    @include fontStyle(3rem);
    padding: 1.45rem 1.08rem;
    text-align: center;
  }

  .toggleNav {
    display: none;
    position: absolute;
    right: 2rem;
    top: 3rem;

    @include respond(phone) {
      display: block;
    }
  }
}
