/**
 * Author : rajansingh
 * Created On : 26/07/20
 */
@import "../../styles";

.postContainer {

  .postDetails {
    @include fontStyle(1.6rem, $black);
    padding: 1rem;

    .categoryDetails {
      a {
        padding: 0.5rem;
      }
    }

    h1 {
      @include fontStyle(3rem);
      padding: 0.5rem 0;
    }

    .authorDetails {
      display: flex;
      justify-content: space-between;
      color: $primary-color;

      a {
        background: transparent;
      }
    }
  }

  .contentContainer {
    padding: 2rem;
  }
}
