/**
 * Author : rajansingh
 * Created On : 25/07/20
 */
@import "../styles";

.contact {
  padding: 4rem 4rem;
  @include fontStyle(2rem, false, 400);

  li {
    list-style: none;
    margin-bottom: 15px;

    label {
      width: 15%;
      display: inline-block;
      vertical-align: top;
    }

    input {
      height: 42px;
      width: 300px;
    }

    textarea {
      width: 300px;
      height: 150px;
    }
  }

  .primaryButton {
    color: $white;
    background: $secondary-color;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 1rem;
    width: 20rem;
  }
}
