/**
 * Author : rajansingh
 * Created On : 25/07/20
 */
@import "../../../styles";

.page-footer{
  text-align: center;
  @include fontStyle(1.6rem, $tertiary-color);
  padding: 1rem 2.5rem;
  background: $black;
}
